<p id="notice"><%= notice %></p>

<h1>Bars for <%= current_user.organization.name %></h1>

<ul class="list-group">
    <% @bars.each do |bar| %>
      <li class="list-group-item"><%= link_to bar.name, bar_bottles_path(bar) %>&nbsp;&nbsp;
        <%= link_to bar, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <%= fa_icon 'trash-alt' %>
        <% end %>
      </li>
    <% end %>
</ul>

<br>

<%= link_to 'New Bar', new_bar_path, class: ['btn', 'btn-primary'] %>
