<style type="text/css">
  .date{
    color: #00ffd6;
    font-size: 1.2rem;
    margin:30px;
  }
  .side-lines::before,
  .side-lines::after { 
    position:absolute; 
    width:10%; 
    height:8px; 
    content:''; 
    border-top:2px 
    solid #ff2281; 
    border-bottom: 2px 
    solid #ff2281; 
    margin-top:.50em; 
    }
  .side-lines::before { margin-left:-11%; }
  .side-lines::after { margin-left:1%; }
}
    .progress-bar-animated.--full{
    background-color: #6b2d5c;
    color: white;
  }
  .progress-bar-animated.--sixtyUp{
    background-color: #B76CFD;
    color: white;
    animation: expandWidth 3s;
  }
  .progress-bar-animated.--fortyUp{
    background-color: #6ea4bf;
    color: white;
  }
  .progress-bar-animated.--twentyUp{
    background-color: #bc45cc;
    color: white;
  }
  .progress-bar-animated.--emptyUp{
    background-color: #ff82b2;
    color: white; 

  }
  .progress{
    height: 20px; 
    margin:15px 25px 15px 25px
  }
  .text-float{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
  }
  .text-float .float{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 25%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 60%; /* Set the width of the positioned div */
  }
  @keyframes expandWidth {
    from { width: 0; }
    to { width: fillPercentage }
   }

  </style>

<div class="card" style="width: 40rem;">
  <div class="text-float">
    <div class="float"> 
    <strong class="header side-lines">Bottle Fill History</strong>
    <p class="header side-lines">V</p>
    </div>
    <section class="one">
      <div class="container">
        </div>
    </section>
  </div>
    <section class="two" style="padding-top: 70px;">
      <strong class="date">Sept 3</strong>
      <strong class="date">AA Ron</strong>
        <div class="progress">
          <div class="<%= fillColor %>" role="progressbar" style="width: <%= fillPercentage %>%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      <strong class="date">Sept 4</strong>
        <div class="progress">
          <div class="<%= fillColor %>" role="progressbar" style="width: <%= 80 %>%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      <strong class="date">Sept 5</strong>  
        <div class="progress" >
          <div class="<%= fillColor %>" role="progressbar" style="width: <%= 40 %>%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      <strong class="date">Sept 6</strong>  
        <div class="progress" >
          <div class="<%= fillColor %>" role="progressbar" style="width: <%= 30 %>%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>    
    </section>
</div>