
<style type="text/css">
  .header{
    color: #09FBD3;
    font-family: sans-serif;
    text-align:center; 
  }
  .container{
    padding-top: 15px;
    text-align:center; 
  }
  .card{
    background-color: #04005E;
    width: 18rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    border:2px;
    border-radius: 5px; /* 5px rounded corners */
    margin-bottom: 20px;
  }
.one {
  background: #001437;
  position: relative;
  height:120px;
  margin-top: 1px;
  margin-right: 2px;
  margin-left: 2px;
  border-radius: 5px; /* 5px rounded corners */
  padding-bottom: 60px;
}
.one::after,
.one::before {
  position: absolute; 
  content: '';
  width: 100px;
  height: 50px;
  background: #001437;
  bottom: -1em;
  z-index: 100;
}
.one::before {
  right: 50%;
  transform: skew(0, 20deg)
}
.one::after {
  left: 50%;
  transform: skew(0, -20deg)
}
.two {
  background: #652EC7;
  border:2px;
  border-radius: 5px; /* 5px rounded corners */
  height: 400px;
  margin-bottom: 2px;
  margin-right: 2px;
  margin-left: 2px
}
.split{
  display:flex; 
  justify-content: space-evenly;
}
.splitter{

  font-weight: bolder;
  font-size: 2em;
  color: #ff2281;
  font-family: sans-serif;

}
</style>
<div class="card">
  <div class="text-float">
    <div class="float"> 
      <div class="split">
        <strong class="header fill"><%= reading&.user&.name %></strong>
        <strong class="splitter">/</strong>
        <strong class="header fill"><%= reading&.reading_time&.strftime("%H:%M %P") %></strong>
      </div>
      <h1 class="header fill side-lines">V</h4>
    </div>
    <section class="one">
    </section>
    </section>
  </div>
  <script>

  </script>
        <section class="two <%= reading %>">
          <%= render "bottles/outline" %>
        </section>
      </div>
    </div>
  </div>
</div>
  
<%# <%= render "bottles/bottleMain" %>
<%#   <div class="progress" style="height: 20px; margin: 10px;" ><div class="<%= fillColor" role="progressbar" style="width: <%= fillPercentage " aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div> %>
<%#     font-size: 20px;
    padding: 7px;
    font-family: 'Futura';
    color: #e5e5e5;
    text-shadow: 0 0 1px #e5e5e5, 0 0 2px #e5e5e5, 0 0 5px #09FBD3, 0 0 8px #09FBD3, 0 0 8px #09FBD3, 0 0 10px #09FBD3, 0 0 15px #09FBD3;
    text-align: center;
     %>