<style type="text/css">
  .btn.btn-outline-info{
    justify-content: center;
    color: #00ffd6;
    font-size: 1.5rem;
    background-color: #1C3144
  }
  body{
    background-color: #2F4858
  }
</style>
    <p id="notice"><%= notice %></p>
<%#     <p>
      <strong>Bar:</strong>
      <%= @bottle.bar_id 
    </p>

    <p>
      <strong>Liquor:</strong>
      <%= @bottle.liquor_id 
    </p> %>
  <div class="container" style="display:flex; justify-content: space-evenly;">
        <%= render "bottles/bottleHistoryCard" %>
        <%= render "bottles/fill" %>

  </div>


    <%# <%= link_to 'Edit', edit_bar_bottle_path(@bottle), {:style => 'color: #ff0062'}  %>
    <%# <%= link_to 'Back', bar_bottles_path, {:style => 'color: #ff0062'}%>


<%#     <div class="col">
      <div class="container-fluid">
          <%= render "bottles/fill"
      </div>
    </div> %>