<p id="notice"><%= notice %></p>

<p>
  <strong>Bar:</strong>
  <%= @bottle.bar_id %>
</p>

<p>
  <strong>Liquor:</strong>
  <%= @bottle.liquor_id %>
</p>

<%= link_to 'Edit', edit_bottle_path(@bottle) %> |
<%= link_to 'Back', bottles_path %>
