





<style type="text/css">
  .--button.camera{
    font-size: 4em; 
    text-decoration: none;   
    display:flex; 
    justify-content:center;
  }
#trapezoid {
  position: absolute;
  margin-top: -120px;
  width: 0vw;
  height: 10vw;
  clip-path: polygon(0 0, 100% 0, 75% 66%, 25% 66%);
  background: red;
  z-index: -1;
  justify-content:center;
}
  .button-svg {
  position: absolute;


  /* set height to pixels if you want angle to change with screen width */
}
</style>
 <div style="display:flex; justify-content: space-evenly;">
<div id="trapezoid"></div>
  </div>  








  <div style="display:flex; justify-content: space-evenly;">
    <%= link_to 'New Bottle Fill',"/bottlereadings/new", class: ['--button', 'camera']  %>
  </div>  

    <p id="notice"><%= notice %></p>


<%#     <p>
      <strong>Bar:</strong>
      <%= @bottle.bar_id 
    </p>

    <p>
      <strong>Liquor:</strong>
      <%= @bottle.liquor_id 
    </p> %>

  <div class="container" style="display:flex; justify-content: space-evenly;">
        <%= render "bottles/bottleHistoryCard" %>
        <%= render "bottles/fill" %>

  </div>


    <%# need to pass current bartenders ID to camera do attach id %>

