
<style type="text/css">
<style type="text/css">
.camera-button-container{
  display:flex; 
  justify-content: space-evenly;
}
.camera-container{
     margin: auto;
  width: 40%; 
}
.--button{
  background-color: #09FBD3;
  border: solid 2px transparent;
  border-radius: 4px;
  color: #123c69;
  font-size:  2 em;
  outline: none;
}
.--button:hover {
  color: #09FBD3; 
  background-color: rgba(255, 0, 0, 0.0); 
  border:2px solid #09FBD3;
  }
  .--button:active {
  transform: translateY(1px);
  filter: saturate(150%);
}
.container{
    padding-top: 15px;
    text-align:center; 
  }
  .card{
    background-color: #04005E;
    width: 18rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    border:2px;
    border-radius: 5px; /* 5px rounded corners */
    margin-bottom: 20px;
  }

</style>
<%= simple_form_for(@bottle_reading, url: bar_bottle_readings_path(@bar, @bottle)) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :photo, required: true, label: 'Upload a Photo' %>
  </div>
  <div class="form-actions">
    <%= f.button :submit,  'Upload',:disabled => true %>
  </div>
<% end %>

<div class="container--camera">
  <%= react_component ('Camera') %>
</div> 
  <script type="text/javascript">
  
    const $file = document.querySelector('.file');
    const $button = document.querySelector('.form-actions input');

    document.querySelector('.file input').onchange = e => {
      if(e.target.files.length) {
        $button.disabled = false;
      } else {
        $button.disabled = true;
      }
    }
  </script>