<!DOCTYPE html>
<style type="text/css">

  body{
       height: 1500px;
       background-image: linear-gradient(to bottom left, #01162c, #123c69);
    /* background-color: #2F4858 */
  }
</style>
<html>
  <head>
    <title>
      <% if content_for?(:page_title) %>
        <%= yield(:page_title) %> | Never86'd
      <% else %>
        Never86'd"
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% #stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>
    <%= render 'layouts/navbar' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
